.main {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

h2 {
    color: white;
}

a {
    text-decoration: none;    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 10vh;
    transition: 1s ease;
}

/* .fixed { 
    position: absolute;
    bottom: 0;
} */

.endpointsDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e3e3e3;
    transition: 1s ease;
    height: 0vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.cmdDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    transition: 0.7s ease;
    height: 0vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.outputDiv {
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    transition: 0.7s ease;
    height: 0vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#openEndpointsDiv {
    height: 50vh !important;
}

#openCommandsDiv{
    height: 50vh !important;
}

#openOutputDiv{
    height: 50vh !important;
}

.container {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    margin: 10px 0px 10px 40px;
    width: 100%;
}

.itemSelect {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 6px;
}

.itemStatus {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.itemEndpointID{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 50px;
}

.itemHostname {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cell {
    display: block;
    box-sizing: content-box;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.dotPadding {
    padding-left: 9px;
}

.checkboxPadding{
    position: relative;
    padding-left: 15px;
}

input[type=checkbox] {
    visibility: hidden;
}

.customCheckbox {
    position: absolute;
    top: -5px;
    left: 12px;
    height: 18px;
    width: 18px;
    margin: 3px;
    border: 2px solid black;
    cursor: pointer;
}

.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
    
}

.checkboxPadding input:checked ~ .customCheckbox:after {
    display: block;
}

.checkboxPadding .customCheckbox:after {
    left: 5px;
    bottom: 3px;
    width: 5px;
    height: 11px;
    border: solid indigo;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mainCmd{
    align-self: center;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.textboxCmd {
    padding: 10px;
    border-radius: 0.4rem;
    border: 0px;
    padding-left: 25px;
    height: 20px;
    width: 85%;
    font-size: 20px;
    font-weight: 600;
    
}

.buttonCmd {
    margin-top: 6vh;
    background-color: indigo; /* Green */
    border: none;
    border-radius: 0.3rem;
    color: white;
    padding: 0.6rem 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.scriptUploadBtn{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.loadBtn {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}
  
#file-chosen{
    margin-right: 0.3rem;
}

.status-dot{
    width: 18px;
    padding-left: 12px;
}

.botList{
    display: flex;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px mediumpurple;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: indigo;
    border-radius: 10px;
}

.botsListed {
    font-weight: bold;
    font-size: 18px;
    min-width: 33%;
    height: 100%;
    line-height: 92px;
    text-align: center;
    border: 1px solid black;
}
.botsListed:hover {
    cursor: pointer;
    background: grey;
}
.botsListed:target {
    border-right: 2px solid black;
    border-left: 2px solid black
}

.botOutput{
    display: flex;
    padding: 20px;
    flex-direction: column;
    white-space: pre-wrap;
}

.endpRow{
    display: none;
    background: #e3e3e3;
    height: 0;
    transition: 1s ease;
}
.openEndpRow{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #e3e3e3;
    height: auto;
    transition: 1s ease;
}
.redDot{
    width: 20px;
    height: 20px;
    border-radius: 2em;
    background: red;
    border: 1px solid rgb(65, 0, 0);
}
.greenDot{
    width: 20px;
    height: 20px;
    border-radius: 2em;
    background: green;
    border: 1px solid rgb(5, 39, 0);
}
.outPuts{
    max-height: 20vh;
}