.Settingscontainer{
    top: 50%;
    right: 50%;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.Stitle{
    text-align: center;
    color: gray;
    font-size: 90px;
    margin: 10px;
}

.subtitleS{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin: 30px;
}

.Settingspage{
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 100%;
}

.Settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}

.inputField {
    width: 300px;
    height: 40px;
    margin: 20px;
    padding: 15px 30px 15px 30px;
    font-size: 24px;
    border-radius: 1vh;
    border: 1px solid indigo;
}
input {
    outline: none;
}
.sendform {
    margin-top: 40px;
    background-color: indigo; /* Green */
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 1rem 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.sasslogo {
    align-self: center;
    text-align: center;
    color: #ffffff;
    height: 150px;
    width: 150px;
    margin-top: 70px;
}
@media (max-width: 414px) {
    .logincontainer{
        overflow-y: auto;
    }
    .Stitle{
        text-align: center;
        color: gray;
        font-size: 70px;
        margin: 0px 0 5px 0;
    }
    .subtitle{
        text-align: center;
        color: #ffffff;
        font-size: 50px;
        margin: 8px;
    }
    .inputField{
        width: 250px;
        height: 35px;
        margin: 20px;
        padding: 15px 30px 15px 30px;
        font-size: 24px;
        border-radius: 1vh;
        border: 1px solid indigo;
    }
    .sendform{
        margin-top: 15px;
    }
    .sasslogo {
        align-self: center;
        text-align: center;
        color: #ffffff;
        height: 125px;
        width: 125px;
        margin-top: 55px;
    }
}